<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.postnikoff.consense" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:name=".sensing.ContextSensingApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".sensing.StartSensingActivity"
            android:label="@string/title_activity_start_sensing" >
        </activity>
        <activity
            android:name=".login.LoginActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustResize|stateVisible" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".login.RegistrationActivity"
            android:label="@string/title_activity_registration"
            android:parentActivityName=".login.LoginActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".login.LoginActivity" />
        </activity>
        <activity
            android:name=".UserProfileActivity"
            android:label="@string/title_activity_user_proile"
            android:parentActivityName=".login.LoginActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".login.LoginActivity" />
        </activity>
        <activity
            android:name=".prefs.SettingsActivity"
            android:label="@string/title_activity_headers" >
        </activity>
        <activity
            android:name=".geo.GeofenceListActivity"
            android:label="@string/title_activity_geofence_list"
            android:parentActivityName=".UserProfileActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.postnikoff.consense.UserProfileActivity" />
        </activity>
        <activity
            android:name=".network.UserListActivity"
            android:label="@string/title_activity_user_list"
            android:parentActivityName=".UserProfileActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.postnikoff.consense.UserProfileActivity" />
        </activity>

        <service android:name="com.intel.context.core.LocalService" />
        <service android:name=".geo.GeofenceTransitionsIntentService" />
        <service
            android:name=".geo.FetchAddressIntentService"
            android:exported="false" />

        <activity
            android:name=".upload.ImageUploadActivity"
            android:label="@string/title_activity_image_upload"
            android:parentActivityName=".UserProfileActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.postnikoff.consense.UserProfileActivity" />
        </activity>
    </application>

</manifest>
